.login-section {
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    width: 36rem;
    height: 47rem;
    background-color: $white;
    padding: 0rem 3rem;
    border-radius: 1rem;
    overflow: hidden;
    @include desktop {
      height: 48rem;
    }

    &__title {
      color: $black;
      font-weight: 400;
    }

    .formulary {
      input {
        display: block;
        width: 100%;
        padding: 1.9rem 0.5rem;
        border-radius: 5px;
        margin-bottom: 1.2rem;
        background-color: $grey;
        font-size: 1.2rem;
        padding-left: 1.2rem;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .password-link {
        font-size: 1.2rem;
        color: $strongBlue;
      }
    }

    .container-social-button {
      display: flex;
      margin-bottom: 1rem;
      height: 5rem;
      align-items: center;
      padding-right: 1rem;
      padding-left: 1rem;
      border-radius: 10px;
    }

    .link-account {
      font-size: 1.3rem;
      color: $black;
      .signUp {
        color: $orangeColor;
        text-decoration: underline;
      }
    }
  }
}
