html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 65.2%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

/* body */

body {
  line-height: 4rem;
  font-size: 1.6rem;
  background-color: rgba(111, 83, 175, 0.782);
  // height: 100vh;
}

/******************************************Global Styles**********************************/

.text-center {
  text-align: center;
}
p {
  line-height: 1.6;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  //   overflow: hidden;
}

img {
  max-width: 100%;
  display: inline-block;
}
