.btn {
  background-color: $white;
  color: $strongBlue;
  padding: 1rem 1.7rem;

  &--rounded {
    border-radius: 2rem;
  }
}

.btn-block {
  display: block;
}

.color-black {
  color: $black;
}

.text-center {
  text-align: center;
}

.btn-login {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: $lightBlue;
  color: $white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: none;
  cursor: pointer;
}

.btn-social {
  display: block;
  width: 100%;
  border-radius: 5px;
  color: $white;
  border: none;
  font-size: 1.3rem;
}

.blueLight {
  background-color: $BtnBlueLight;
}
.blueStrong {
  background-color: $BtnBlueStrong;
}
