/* Media Queries*/
$phone: 280px;
$tablet: 768px;
$desktop: 1024px;

/* colors */

$mainBlue: hsl(211, 100%, 50%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$strongBlue: hsl(211, 100%, 50%);
$grey: hsl(217, 62%, 96%);
$lightBlue: rgb(179, 216, 255);
$BtnBlueLight: hsl(217, 89%, 61%);
$BtnBlueStrong: hsl(214, 54%, 39%);
$orangeColor: hsl(34, 82%, 51%);
